* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: rgb(20, 8, 8);
  color: aliceblue;
}

.info {
  position: absolute;
  top: 20%;
  left: 5%;
}
.info h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline yellow;
}
p {
  text-align: center;
  margin-top: 2%;
}
